@import '../variables/theme.scss';
@import '../variables/size.scss';
page {
  background: $page_bg;
  font-size: $fs;
  min-height: 100%;
  color: $page_fc;
}
view {
  box-sizing: border-box;
}
image {
  display: block;
  width: auto;
  height: auto;
  &:not([src]) {
    background: #e6e6e6;
  }
}
button {
  margin: 0;
  border-radius: 4rpx;
  padding: 0;
  font-size: 13px;
  text-align: center;
  &::after {
    border-radius: 4rpx;
  }
  &[disabled]{
    background: #B8B8B8; 
  }
}
